.mainDiv {
  border: 2px solid black;
  width: 550px;
  height: 400px;
}

.text {
  margin-left: 26px;
  font-weight: 800;
}

div {
  margin-bottom: 10px;
}

.inputWidth {
  width: 230px;
}

.text1 {
  text-align: center;
  font-weight: 800;
}

.submit {
  margin-left: 50%;
}

h1 {
  text-align: center;

}

.mainDiv2 {
  width: 550px;
}

label {
  display: inline-block;
  text-align: right;
  width: 150px;
  font-weight: 800;
}