* {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-top: 6px;
}

.logo>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}

.header-bg {
    background-image: url("../photo/mina.jpg");
    height: 100vh;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image {
    width: 100vw;
    height: 100vh;

}

.header-texts {
    color: white;
    text-align: center;
}

.sub-text {
    margin-top: 20px;
}

.header-button {
    margin-top: 20px;
}

.text_h1 {
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 6px;

}

.menu-items {
    display: flex;

}

li {
    margin: 10px 15px 10px 30px;
    list-style: none;
}

button {
    width: 90px;
    height: 40px;
}

.select {
    border: 0;
}